body, html {
  margin: 0;
  padding: 0;
  background-image: url('background.jpeg');
  background-size: cover;
  background-position: center 80%;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  z-index: 10;
  overflow: hidden;
  cursor: grab;
}

.about-content {
  max-width: 80%;
  color: #333;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.1rem;
}

.slide {
  display: none;
}

